.benefits {
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        @include tablet {
        }
        @include desktop {
            flex-wrap: nowrap;
        }
    }
    &__list-item {
        @include tablet {
            flex-basis: calc((100% - 30px) / 2);
        }
    }
    &__icon {
        background-color: $button-background;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 100px;
        margin-bottom: 30px;
    }
    &__title {
        color: $color-black;
        // font-size: 14px;
        // line-height: 1.14;
        // margin-top: 30px;
        // margin-bottom: 10px;
        font-size: 0.875rem;
        line-height: 1.14;
        letter-spacing: 0.03em;
        padding-bottom: 10px;
        text-align: center;
        @include tablet {
            text-align: left;
        }
    }
    &__article {
        color: $color-lightgrey;
        font-size: 0.875rem;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-align: justify;
    }
}
//  @include tablet {
//             width: calc(50% - 15px);
//         }
