.clients {
    text-align: center;
    padding-top: 94px;

    &__section-title {
        font-size: 36px;
        padding-bottom: 50px;
    }
    &__list {
        gap: 30px;
        display: flex;
    }
    &__list-item {
        border: 1px solid #afb1b8;
        border-radius: 4px;
        width: 170px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list-item:hover,
    &__list-item:focus {
        border-color: $color-blue;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon {
        fill: #afb1b8;
    }
    &__list-item:hover > .clients__icon,
    &__list-item:focus > .clients__icon {
        fill: $color-blue;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
