.gallery {
    &__section-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__section-list-item {
        background: #ffffff;
    }

    &__img-window {
        position: relative;
        overflow: hidden;
    }
    &__img-label {
        border: 1px solid #eeeeee;
        border-top: none;
        padding: 20px 0 20px 24px;
    }
    &__img-specification {
        position: absolute;
        inset: 0;
        background-color: $color-blue;
        opacity: 0.9;
        transform: translateY(100%);
        z-index: -1;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__img-specification > &__img-specification-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        color: #ffffff;
        padding: 49px 45px 49px 24px;
    }
    &__section-list-item:hover &__img-specification {
        transform: translateY(0%);
        z-index: 1;
    }
    &__section-list-item:hover,
    &__section-list-item:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__img-title {
        color: $color-black;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        margin-bottom: 4px;
        display: block;
    }
    &__img-description {
        color: $color-lightgrey;
        display: block;
        line-height: 1.875;
    }
}
