$color-blue: #2196f3;

$color-black: #212121;
$color-white: #fff;

$color-darkgrey: #2f303a;
$color-grey: #757575;
$color-lightgrey: #afb1b8;
$button-background: #f5f4fa;
$color-footergray: rgba(255, 255, 255, 0.6);
